@media (max-width: 1400px){
    .contacts_info{
        float: none;
        margin: 15px auto 0;
        width: 100%;
        height: 400px;
        padding: 100px;
    }

    .contacts{
        padding: 50px 0 0;
    }
}

@media (max-width: 1282px){
    .container{
        padding: 0 5px;
    
    }

    .products_items{
        display: flex;
        justify-content: space-between;
    }

    .products_item1,
    .products_item2 {
       display: block;
       text-align: center;
    }

    .products_item1 img,
    .products_item2 img{
        margin-bottom: 15px;
    }

    .products_item1 img + img,
    .products_item2 img + img{
        padding-left: 0;
    }

    .team_content{
        display: block;
    }
}

@media (max-width: 1230px){

    .header_menu{
        display: block;
        padding: 0;
    }

    .about_content{
        margin-top: 90px;
    }
    
    .about{
        padding: 30px 0;
        
    }

}

@media (max-width: 1145px){

    .about_content{
        display: block;
    }

    .about_item-img{
        float: none;
        padding-top: 30px;
        text-align: center;
    }
    
    .about_item{
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }

    .about_text{
        max-width: 90%;
        margin: 0 auto 20px;
    }
    
    .about_img{
        width: 80%;
    }

}
    


@media (max-width: 1190px){

    .services_inner{
        display: block;
        text-align: center;
    }

    .services_intro{
        max-width: 90%;
        margin: 0 auto;
    }

    .services_items{
        justify-content: space-evenly;
        max-width: 100%;
        margin: 30px auto;
    }

    .services_icon{
        margin-bottom: 10px;
    }
    
    .advices_title{
        line-height: 40px;
    }
}

@media (max-width: 1020px){

    .products_items-header{
        margin: 30px auto;
    }

    .products_items-header li{
        display: block;
    }

    .products_items-header a{
        padding: 5px 0;
    }
}

@media (max-width: 880px){
    .people_img li{
        display: block;
        margin-bottom: 15px;
    }

    .people_img li + li{
        padding-left: 0;
    }

    .people_img {
        margin: 0 auto;
    }
}

@media (max-width: 790px){

    .advices{
        padding: 30px 0;
    }

    .form_box-advices{
        display: block;
    }

    .form_box-advice{
        display: block;
    }

    .advices_form{
        margin-bottom: 20px;
    }

    .contacts_header{
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }


    .contacts_header-text:after{
        margin: 15px auto;
    }

    .contacts_form{
        height: auto;
        width: 100%;
    }

    .contacts_form-title{
        display: block;
        margin-bottom: 0;
    }

    .contacts_form-title input{
        display: block;
        margin: 0px auto 20px;
        width: 100%;
    }

    
}

@media (max-width: 650px){
    .about_item{
        text-align: center;
    }

    .about_title{
        font-size: 40px;
        letter-spacing: 1px;
        line-height: 50px;
    }

    .about_img{
        width: 100%;
    }
    
    .about{
        padding: 20px 0;
    }

    .services_items{
        display: block;
        
    }

    .services_column1{
        padding: 0;
    }

    .services_column1,
    .services_column2{
        max-width: 90%;
        margin: 0 auto;
    }

    .products_items{
        display: block;
    }

    .products_header{
        max-width: 90%;
    }

    .products{
        padding: 50px 0;
    }
    
    .advices_header{
        margin: 20px auto;
    }

    .advices_title{
        font-size: 35px;
        margin-bottom: 20px;
    }

    .form_box-advices input{
        width: 100%;
        margin-right: 0;
    }

    .footer_content{
        display: block;
        padding: 15px 0;
    }

    .footer_copy{
        margin-bottom: 10px;
        text-align: center;
        max-width: 100%;
    }

    .footer_contact{
        text-align: center;
    }
}

@media (max-width: 530px){

    .header_menu{
        height: 50px;
    }

    .header_menu ul{
        display: none;
        position: relative;
        height: 203px;
    }

    .header_menu li{
        display: block;
        text-align: center;
        
    }

    .header_menu li + li{
        padding-left: 0;
    }

    .header_menu a{
        width: 100%;
        padding: 10px;
        margin-top: 2px;
        background-color: #313030;
    }

    .header_btn-menu{
        display: block;
        color: white;
        font-size: 28px;
        padding: 10px;
        cursor: pointer;
    }

    .services_title{
        font-size: 35px;
        line-height: 35px;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
    }
    
    .products_title{
        font-size: 30px;
        margin-bottom: 10px;
    }

    .team{
        padding-bottom: 15px;
    }

    .advices_title{
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.1px;
    }

    .contacts_header-title{
        font-size: 35px;
        margin-bottom: 15px;
    }

    .contacts_info{
        padding-left: 15px;
        padding-right: 10px;
    }
}

@media (max-width: 430px){
    .about_title{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .about_text{
        font-size: 14px;
    }

    .team_title{
        font-size: 30px;
        margin-bottom: 15px;
    }

    .people_contacts li{
        display: block;
    }

    .people_contacts li+li{
        padding-left: 0;
    }
}

    @media (max-width: 350px){
        .products_item1 img,
        .products_item2 img{
            width: 100%;
        }

        .team-img{
            width: 100%;
            margin-right: 0;
        }

        .team-img img{
            width: 100%;
        }
    }
